@layer fonts {
  /* league-spartan-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/league-spartan-v15-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* league-spartan-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/league-spartan-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* league-spartan-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/league-spartan-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* league-spartan-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/league-spartan-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

@layer colors {
  :root {
    --c-brown: #9e7f66;
    --c-black: #111111;
    --c-white: #ffffff;
    --c-gray-100: #17192b;
    --c-gray-300: #242b37;
    --c-gray-500: #5c6779;
    --color-background-dark: var(--c-black);
    --color-text-light: var(--c-white);
  }
}

@layer typography {
  :root {
    --fs-80: calc(80/16 * 1rem);
    --fs-48: calc(48/16 * 1rem);
    --fs-32: calc(32/16 * 1rem);
    --fs-20: calc(20/16 * 1rem);
    --fs-16: calc(16/16 * 1rem);
    --font-size-h1: var(--fs-32);
    --font-size-h2: var(--fs-32);
    --font-size-h3: var(--fs-20);
    --font-size-p: var(--fs-16);
    --font-size-p-sm: var(--fs-16);

    @media (width >= calc(700/16 * 1rem)) {
      --font-size-h1: var(--fs-48);
      --font-size-h2: var(--fs-48);
      --font-size-p: var(--fs-20);
    }

    @media (width >= calc(1100/16 * 1rem)) {
      --font-size-h1: var(--fs-80);
    }
  }

  h1 {
    font-size: var(--font-size-h1);
    font-weight: 300;
    letter-spacing: -0.0625rem; /* 1px */
    line-height: 1;
  }

  h2 {
    font-size: var(--font-size-h2);
    font-weight: 700;
    letter-spacing: -0.03125rem;
    line-height: 1;
  }

  h3 {
    font-size: var(--font-size-h3);
    font-weight: 700;
    letter-spacing: calc(-0.25/16 * 1rem);
    line-height: calc(24/20);
  }

  p {
    font-size: var(--font-size-p);
    line-height: 1.5;

    &.small {
      font-size: var(--font-size-p-sm);
    }
  }
}

@layer global {
  *, 
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
  }

  h1, h2, h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

@layer layout {
  .wrapper {
    display: grid;
    grid-template-columns: 24px 1fr 24px;

    > * {
      grid-column: 2;
    }

    @media (width >= calc(700/16 * 1rem)) {
      grid-template-columns: 1fr min(100% - 80px, 1110px) 1fr;
    }
  }
}