@layer fonts {
  /* league-spartan-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/league-spartan-v15-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* league-spartan-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/league-spartan-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* league-spartan-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/league-spartan-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* league-spartan-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/league-spartan-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

@layer colors {
  :root {
    --c-brown: #9e7f66;
    --c-black: #111111;
    --c-white: #ffffff;
    --c-gray-100: #17192b;
    --c-gray-300: #242b37;
    --c-gray-500: #5c6779;
    --color-background-dark: var(--c-black);
    --color-background-light: var(--c-white);
    --color-text-light: var(--c-white);
    --color-text-dark: var(--c-black);
    --color-shadow: hsla(234, 30%, 13%, 0.5)
  }
}

@layer typography {
  :root {
    --fs-80: calc(80/16 * 1rem);
    --fs-48: calc(48/16 * 1rem);
    --fs-32: calc(32/16 * 1rem);
    --fs-20: calc(20/16 * 1rem);
    --fs-16: calc(16/16 * 1rem);
    --font-size-h1: var(--fs-32);
    --font-size-h2: var(--fs-32);
    --font-size-h3: var(--fs-20);
    --font-size-p: var(--fs-16);
    --font-size-p-sm: var(--fs-16);

    @media (width >= calc(700/16 * 1rem)) {
      --font-size-h1: var(--fs-48);
      --font-size-h2: var(--fs-48);
      --font-size-p: var(--fs-20);
    }

    @media (width >= calc(1100/16 * 1rem)) {
      --font-size-h1: var(--fs-80);
    }
  }

  h1, h2, h3, p {
    text-align: center;

    @media (width >= calc(1100/16 * 1rem)) {
      text-align: left;
    }
  }

  h1, h2, h3 {
    margin: 0;
  }

  h1 {
    font-size: var(--font-size-h1);
    font-weight: 300;
    letter-spacing: -0.0625rem; /* 1px */
    line-height: 1;
  }

  h2 {
    font-size: var(--font-size-h2);
    font-weight: 700;
    letter-spacing: -0.03125rem;
    line-height: 1;
  }

  h3 {
    font-size: var(--font-size-h3);
    font-weight: 700;
    letter-spacing: calc(-0.25/16 * 1rem);
    line-height: calc(24/20);
  }

  p {
    font-size: var(--font-size-p);
    line-height: 1.5;
    margin: 0;

    &.small {
      font-size: var(--font-size-p-sm);
    }
  }

   a {
    text-decoration: none;
  }
}

@layer global {
  *, 
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: var(--color-background-light);
    color: var(--c-gray-300);
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    padding-block-end: 70vh; /* TEMP */
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .hide-on-mobile {
    @media (width < calc(700/16 * 1rem)) {
      display: none;
    }
  }

  .has-shadow {
    box-shadow: 0 75px 100px -50px var(--color-shadow);
  }
}

@layer layout {
  .wrapper {
    display: grid;
    grid-template-columns: 24px 1fr 24px;

    > * {
      grid-column: 2;
    }

    >.fullbleed {
      grid-column: 1 / -1;
    }

    @media (width >= calc(700/16 * 1rem)) {
      grid-template-columns: 1fr min(100% - 80px, 1110px) 1fr;
    }
  }
}

@layer header {
  .logo {
    position: absolute;
    top: 65px;

    @media (width < calc(1100/16 * 1rem)) {
      left: 50%;
      translate: -50% 0;
      top: 374px;
    }
    
    @media (width < calc(700/16 * 1rem)) {
      width: calc(82.14/16 * 1rem);
      top: 232px;
    }
  }
}

@layer button {
  .button {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-white);
    letter-spacing: calc(2.5/16 * 1em);
    border: 1px solid var(--color-text-light);
    width: fit-content;
    padding: 24px 55px;
    transition: 250ms ease-in-out;
    transition-property: background, color;
    margin-inline: auto;

    @media (width >= calc(1100/16 * 1rem)) {
      margin-inline: 0;
    }

    &:hover {
      background: var(--color-text-light);
      color: var(--color-background-dark)
    }
  }
}

@layer hero {
  .hero {
    display: grid;
    grid-template-rows: 300px repeat(4, auto);
    justify-items: center;
    color: var(--color-text-light);

    @media (width >= calc(700/16 * 1rem)) {
      grid-template-rows: 452px repeat(4, auto);
    }

    @media (width >= calc(1100/16 * 1rem)) {
      grid-template-rows: 258px repeat(4, auto);
      justify-items: start;
    }
    
    .image {
      grid-row: 1 / -1;
    }

    .title {
      margin-block-end: 20px;
      line-height: 1.3;
      grid-row: 2;
      max-width: 15ch;

      @media (width >= calc(1100/16 * 1rem)) {
        line-height: 1;
      }
    }

    .description {
      margin-block-end: 50px;
      grid-row: 3;
      max-width: 50ch;

      @media (width >= calc(1100/16 * 1rem)) {
        max-width: 40ch;
      }
    }

    .button {
      grid-row: 4;
    }
  }
}

@layer features {
  .features {
    position: relative;
    margin-block-start: -72px;

    .feature__pattern {
      position: absolute;
      max-width: none;
      top: 184px;
      right: 50%;
    }

    .feature {
      display: grid;
      justify-items: center;
    }

    .feature__image {
      margin-block-end: 48px;

      @media (width >= calc(700/16 * 1rem)) {
        max-width: calc(573/16 * 1rem);
      }
    }

    .feature__divider {
      margin-block-end: 36px;
    }

    .feature__title {
      margin-block-end: 13px;
      max-width: 14ch;
    }

    .feature__description {
      max-width: 40ch;
    }
  }
}